/* 
    Created on : Jan 29, 2015, 4:53:42 PM
    Author     : JASHAN
*/
/*Styling of body and google maps*/
html,
body, 
#map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#maindiv {
    border: 3px black solid;
    height: 700px;
    margin: 0px auto;
    width: 479px;  
}

h1 {
    background-color: skyblue;
    font-weight: bold;
    margin: 0px;
    text-align: center;   
}

#map-canvas {
    height: 502px;
    margin-left: 0px;
    width: 479px; 
}

#locationField,
#controls {
    position: relative;
    width: 480px;
}

/*Submit Textbox*/
#autocomplete  {
    margin-top: -56px;
    width: 99%;
}

/*Labels in table*/
.label  {
    color: gray;
    font-weight: bold;
    width: 100px;
    text-align: right;  
}

/*Styling of Table*/
#address {
    background-color: #F0F0FF;
    border: 1px solid #000090;
    margin: 0px;
    margin-bottom: 3px;
    padding-right: 2px;
    width: 480px; 
}
/*Styling of td*/
#address td {
    font-size: 10pt;
}
.field {
    width: 99%;
}

.slim_Field {
    width: 80px;
}

.wide_Field {
    width: 200px;
}
#locationField  {
    height: 14px;
    margin: 7px auto;
}