/* 
    Created on : Jan 30, 2015, 3:49:10 PM
    Author     : JASHAN
*/

/*brand image*/
.navbar-brand img {
    margin-top: -17px;
}

/*navigation bar*/
.container-fluid {
    background-color: white;
}

/*sign up form*/
.form-horizontal {
    margin-left: 5px;
    width:400px;  
}

/*slideshow images*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    width: 30%;
}

/*slideshow container*/
.container {
    width: 1365px;
}
.carousel-control.left {
    width: 100px;
}
.carousel-control.right {
    width: 100px;
}
