/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2015, 3:21:04 PM
    Author     : JASHAN
*/

/*Heading Div*/
#head {
    font-weight: bold;
    width: 100%;  
}
#head h1 {
    text-align: center;
}
/*Figure Div*/
#fig {
    background-color: blueviolet;
    height: 100px;
    margin: 10px 10px 10px 10px;
    width: 100px;   
}
